body {
    font-family:serif;
    background-color: rgb(0, 0, 0);
    color:rgb(220, 20, 60);
    text-align: center;
    padding-top: 100px;
}
.container {
    margin-top: 100px;
    background: rgb(255, 255, 255);
    padding: 40px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: black;
}

p {
    color:darkgoldenrod;
}

img {
    width: 300px;
    border-radius: 10px;
}

iframe{
    width: 450;
    height: 200;
}

button{
  background-color: rgb(0, 0, 0);
  color: white;
  width: 200px;
  border:none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
    background-color: rgb(196, 0, 0);
}